.assign2{
    
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 240px;
    height: 18vh;
    border: 1px solid rgb(196, 193, 193);
    margin-top: 2rem;
    border-radius: 8px;
    margin: 10px;
    /* box-shadow: 3px 3px 10px #b0b6b6 */
}

.leftsideNote3{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 240px;
    padding-top: 5px;
    padding-left: 10px;

}  


.middlesideNote3{    

    padding-left: 10px;

}

.rightsideNote3{
    /* border: 1px solid red; */
    width: 240px;
}

.eight_Logo_Left3{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    width: 240px;
    padding-bottom: 10px;
}   


.takNote3Class{
    width: 16px;
    height: 17px;
}

.takNote3ClassImg{
    padding-right: 25px;
}


.inputText31 input{
    border: 0px solid ;

}

.inputText31 input:focus {
    outline:none;
}

.leftSideLogos{
    display: flex;
    justify-content: center;
}

.logo{
    padding-top: 10px;
    padding-right: 15px;
}

.eight_Logo2{
    display: flex;
    justify-content: space-between;
}

.EditCloseButton{
    border-radius: 1px solid red;
    margin-left: 100px;
}


@media screen and (max-width: 700 px){

    .assign2{
        
        width: 70vw;
        border: 1px solid red;
        margin-left: 150px;
        margin-top: 30px;

    }

    .leftsideNote3{
        width: 70vw;

    }

    .rightsideNote3{
        /* border: 1px solid red; */
        width: 70vw;
    }


    
.eight_Logo_Left3{
    /* border: 1px solid red; */
    width: 70vw;
    padding-bottom: 10px;
}   





}


